@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}



body {
  overflow-x: hidden;
  background-color: #101010;
  color: white;
}

.edit-icon {

  background-color: #06b6d4;
  border-radius: 50px;
  z-index: 100;
  position: relative;
  top: -140px;
  left: 90px;
  z-index: 100;
  padding: 5px;
}

.flex-t-1 {
  flex: 0.31;
}

.flex-t-2 {
  flex: 0.12;
}


.flex-main-1 {
  flex: 0.48;
}

.flex-main-2 {
  flex: 1;
}


.border-color-1 {
  border-color: #515151;
  border-radius: 0.8px;
}

.border-color-2 {
  border-color: #3e3e3e;
  border-radius: 0.8px;
}

.flex-2 {
  flex: 1;
}



.logo {


  animation: crazyWheelRotation 4s infinite;

}

@keyframes crazyWheelRotation {
  0% {
    transform: rotate(0deg) scale(1);
  }

  20% {
    transform: rotate(90deg) scale(1.2);
  }

  40% {
    transform: rotate(180deg) scale(0.8);
  }

  60% {
    transform: rotate(270deg) scale(1.2);
  }

  80% {
    transform: rotate(360deg) scale(0.9);
  }

  100% {
    transform: rotate(0deg) scale(1);
  }
}

/* Rotation animation */
@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
    /* One full rotation */
  }
}

 