@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}



body {
  height: 100vh;
  background-color: #0f1010;
  color: white;
}

.edit-icon {

  background-color: #06b6d4;
  border-radius: 50px;
  z-index: 100;
  position: relative;
  top: -140px;
  left: 90px;
  z-index: 100;
  padding: 5px;
}